.profile {
    width: 900px;
 display: block;
  margin-left: auto;
   margin-right: auto
}

.song {
    text-align-last: center;
     font-size: 30px;
}

.content    {

    text-align: center;

}
.box {
    width: 200px;
    background-color:cadetblue;
    margin: 30px;
    padding: 40px;
    border-radius: 20px;
  margin-left: auto;
   margin-right: auto;
   font-size: 14px;
   color: white;
   box-shadow: black 5px 5px 5px ;
   

}

.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
   



}

.header {

    width: 100%;
    height: 50px;
    background:aquamarine;

}
.left-menu {
    width: 80%;
    height: 200px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 20%;
    height: 200px;
    background-color: coral;
    display: inline-block;
    vertical-align: top;

}
.footer { 
    width: 0%;
    height: 100px;
    background: grey; 
    
}
.blog-content {
    width: 80%;
    height: 200px;
    background: whitesmoke;
    float: left;
    
}
.blog-img {
    width: 20%;
    height: 200px;
    background: white;
    float: left;
 
}
.blog-main {
    width: 100%;
    height:150px;
    background: lemonchiffon;
    display: inline-block;
    vertical-align: top;
    
}
.blog-head {
    width: 100%;
    height: 50px;
    background: lightblue;
}
.blog-profile {
    width:75px;
    float: left;
}
.blog-name {
    float: left; 
}
.blog-text {
    width: 80%;
    height: 150px;
    background: whitesmoke;
}